*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html, body{
    margin: 0;
    height: 100%;
    background-color: rgb(238, 233, 238);
}
#nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
button{
    text-decoration: none;
    cursor:pointer;
    width: 72px;
    height: 28px;
    background-color: blue;
    color: whitesmoke;
    border-radius: 10%; 

    
}
button:hover{
    text-decoration:underline;
}
#nav a,i,button{
    margin-right: 20px;
}

#middle{
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
#logo{
    text-align: center;
}
#searchbarcontainer{
    margin-top: 20px;
    text-align: center;
    position: relative;
}
#search, #voice{
    position: absolute;
    top: 0;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#search{
    left: 10px;
}
#voice{
    right: 0px;
}
#searchbar{
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 440px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
}
#searchbar:hover{
    box-shadow: 0 0 10px 2px rgb(209, 207, 207);
}
#buttons{
    margin-top: 20px;
    display:flex;
    justify-content: center;
}
.button{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    background: #b6b8ba;
    border: 2px solid transparent;
}
#links{
    margin-top: 30px;
    text-align: center;
    padding-right: 10px;
}
body{
    display: flex;
    flex-direction: column;
}
.button:hover{
    box-shadow: 0 0 2px 1px black ;
    border: 2px solid #eee;
}
footer h4{
    color:#640b07;
    font-size: 20px;
    line-height: 28.5px;    
    padding-left: 29px;
    border: 1px solid black;

}
footer a{
    color: rgb(59, 73, 177);
    display: inline-block;
    padding: 12px 11.3px;
    font-size: 14px;
}
.links{
    border-top: 0px transparent black;
    display: flex;
}
.link1{
    padding: left 18.7px;
    flex:1;
}
.link2{
    padding-right: 18.7px;
}